<div class="control-group brock-field brock-field-boolean">
  <div class="controls checkbox">
    <label class="control-label brock-label">
      <input class="brock-field"
             type="checkbox"
             name="brock[<%= name %>]"
             <% if value || (value.nil? and default) %>
               checked
             <% end %>
      />
      <%= label %>
    </label>
  </div>
</div>
